name: Generate Metrics

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Metrics embed
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          plugin_languages: yes
          plugin_traffic: yes
          plugin_wakatime: yes
          plugin_wakatime_sections: time, os
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}